<ion-view view-title="" name="login-view">
  <ion-header-bar align-title="left" class="bar-positive fix-header bg-color">
    <div class="row">
      <div class="col col-50 col-offset-25">
        <img src="img/logo.png" class="img-responsive">
      </div>
    </div>


      <div class="row banerTitle" style="background-color:#FFF;">
          <div class=" iconVoltar" ng-click="getBack()">
            <img src="img/icons/voltar.png" class="img-responsive floatRight">
          </div>
 
           <div class="col col-offset-20" ng-class="{'paddingLeft30': page == 'guia'}">
            <img src="img/icons/def_info_azul_icon.png" class="img-responsive iconImg floatLeft">
            <h3 class="greenIdeal marginTop4 marginLeft7 marginBottom4 textCapitalize fontFlamalight">Contato</h3>
          </div>
      </div>
  </ion-header-bar>
  <ion-content scroll="true" class="bg-color">
    <ion-list>
    <div ng-repeat="group in groups">
      <ion-item class="item-stable arcoddion fontFlamalight " ng-class="{'no-border' : $index == 0}">
        <div>{{group.name}}</div>
        <div ng-class="(group.cargo == null)? hide : show">{{group.cargo}}</div>
        {{group.email}}<br>
        <i class="icon ion-ios-telephone-outline paddingRight3 iconFont"></i>{{group.phone}} <i class="icon ion-ios-email-outline marginLeft7 iconFont"></i>
<!--  ng-class="ion-ios-telephone-outline" -->
<!--          ng-class="ion-ios-email-outline" -->
      </ion-item>
    </div>
    </ion-list>
  </ion-content>
</ion-view>