<ion-view view-title="" name="login-view">
<ion-content scroll="true" class="bg-color">
<div class="row">
  <div class="col-50 col-offset-25">
    <img src="img/logo.png" class="img-responsive">
  </div>
</div>
<div class="center" style="background-color:#FFF;">
  <img src="img/icons/def_info_azul_icon.png" class="img-responsive iconImg">
  <h3 class="greenIdeal marginTop4 marginLeft7 marginBottom4 textCapitalize fontFlamalight" ng-if="page == 'informacoes'"> Informações</h3>
  <h3 class="greenIdeal marginTop4 marginLeft7 marginBottom4 textCapitalize fontFlamalight" ng-if="page != 'informacoes'"> {{page}}</h3>
</div>

<ion-list>
<ion-item href="#/notes/{{page}}/{{$index}}" class="interna-item" ng-repeat="item in items">


<div class="row">
  <div class="col-50">
    <h5 class="textWhite fontSize17 fontFlamalight">{{item[0]}}</h5>
    <p class="textWhite fontSize17 fontFlamalight">{{item[1]}}</p>
  </div>
  <div class="col-50">
    <span class="textWhite fontSize17 floatRight paddingTop11 fontFlamalight">{{item[2]}}</span>
  </div>

</div>



</ion-item>


</ion-list>
</ion-content>
</ion-view>