<ion-view view-title="" name="main-view">
  <ion-content scroll="false" class="bg-color">

            <div class="row">
                    <img src='img/flat-design/logos/logo-mpr.png'/>
        <a class="link-login" href="#/app/login" href="#/app/login">Entrar</a>
            </div>
            
         <div class="row"><ion-item href="#/teste"><img src='img/def_guia_azul.png'/></ion-item></div>
         <div class="row"><ion-item href="#/teste"><img src='img/def_guia_azul.png'/></ion-item></div>
         <div class="row"><ion-item href="#/teste"><img src='img/def_guia_azul.png'/></ion-item></div>
         <div class="row"><ion-item href="#/teste"><img src='img/def_guia_azul.png'/></ion-item></div>
        


  </ion-content>
</ion-view>